@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

.pagehead {
    border-bottom: 1px solid #ccc;
    float: left;
    padding-bottom: 15px;
    text-align: center;
    text-shadow: 1px 2px 1px #000;
    width: 100%;
}

.pagesubhead {
    float: left;
    font-size: 26px;
    text-align: center;
    width: 100%;
}

.modal-content {
    background: rgba(0, 0, 0, 1) linear-gradient(to top, #3e792b, #3b606c) repeat scroll 0 0;
    border: 1px solid rgba(123, 23, 45, 0.2);
}

.modal-body {
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
}

.modal-title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.readmepopup {
    float: left;
    margin: 15px 0;
    text-align: center;
    width: 100%;
}

.btn-info {
    background-color: #336600;
    border-color: #336600;
}

.startCallDiv,
.endCallDiv,
.annotationsDivision,
.cobrowseOnlyDivision {
    margin: 15px 0;
    text-align: center;
}

.textShowCallbacks {
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    padding: 15px;
    width: 90%;
    font-size: 17px;
    margin: 15px 0px;
}

.firstText {
    border-bottom: 1px solid #ccc;
    float: left;
    padding-bottom: 2px;
}

.startCallButton,
.endCallButton,
#annotationToggle,
#pauseCobrowse,
#resumeCobrowse,
#cobrowseonly {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 25px;
    text-transform: uppercase;
}

.cobrowseControls {
    margin: 15px 0;
    text-align: center;
}

.showCallbacks {
    font-style: oblique;
    margin-left: 15px;
}

.currentCallbackMethod {
    margin-left: 15px;
}

.annotationsStroke,
.annotationsOpacity,
.annotationsWidth,
.annotationsLength {
    border-bottom: 1px solid #ccc;
    color: #000;
    display: table;
    float: none;
    margin: 5px auto;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.GreenBlink{
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    animation-name: toGreen;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

.RedBlink{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation-name: toRed;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

.sessionActiveOrNot {
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    padding: 5px;
    width: 100%;
}

.sessionActiveGreen, .sessionInactiveRed {
    display: table;
    float: none;
    font-size: 18px;
    margin: 0 auto;
}

.sessionActiveOrNot > span {
    float: left;
    font-size: 17px;
    margin: 5px 0;
    text-align: center;
    width: 100%;
}

.sessionActiveGreen{
   color: green; 
}

.sessionInactiveRed {
    color: red; 
}

.ActiveSession, .InactiveSession {
    float: right;
}

.GreenBlink, .RedBlink {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}

@keyframes toGreen {
    0% {
        background-color: green;
    }

    60% {
        background-color: transparent;
    }

    100% {
        background-color: green;
    }
}

@keyframes toRed {
    0% {
        background-color: red;
    }

    60% {
        background-color: transparent;
    }

    100% {
        background-color: red;
    }
}    

@media (min-width:240px) and (max-width:479px) {
    .pagehead {
        font-size: 23px;
        text-shadow: none;
    }

    .pagesubhead {
        font-size: 18px;
        line-height: 27px;
    }

    .modal-body {
        font-size: 12px;
        line-height: 18px;
    }

    .textShowCallbacks {
        height: 100px;
    }

    .firstText {
        text-align: center;
        width: 100%;
    }

    .showCallbacks {
        float: left;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
        font-size: 13px;
    }

    .currentCallbackMethod {
        float: left;
        font-size: 13px;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
    }
}

@media (min-width:480px) and (max-width:639px) {
    .pagehead {
        font-size: 23px;
        text-shadow: none;
    }

    .pagesubhead {
        font-size: 18px;
        line-height: 27px;
    }

    .modal-body {
        font-size: 12px;
        line-height: 18px;
    }

    .textShowCallbacks {
        height: 100px;
    }

    .firstText {
        text-align: center;
        width: 100%;
    }

    .showCallbacks {
        float: left;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
        font-size: 13px;
    }

    .currentCallbackMethod {
        float: left;
        font-size: 13px;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
    }
}

@media (min-width:640px) and (max-width:767px) {
    .pagehead {
        font-size: 23px;
        text-shadow: none;
    }

    .pagesubhead {
        font-size: 18px;
        line-height: 27px;
    }

    .modal-body {
        font-size: 14px;
        line-height: 20px;
    }

    .textShowCallbacks {
        height: 100px;
    }

    .firstText {
        text-align: center;
        width: 100%;
    }

    .showCallbacks {
        float: left;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .currentCallbackMethod {
        float: left;
        font-size: 14px;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .firstText {
        text-align: center;
        width: 100%;
    }

    .showCallbacks {
        float: left;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .currentCallbackMethod {
        float: left;
        font-size: 14px;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .firstText {
        text-align: center;
        width: 100%;
    }

    .showCallbacks {
        float: left;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .currentCallbackMethod {
        float: left;
        font-size: 14px;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
        width: 100%;
    }
}

@media (min-width:1200px) and (max-width:1600px) {

}

@media (min-width:1601px) {

}